[submodule "tools/mbob"]
	path = tools/mbob
	url = https://github.com/embeddedawesome/mBOB.git
	branch = master
[submodule "components/semver/master"]
	path = components/semver/master
	url = https://github.com/embeddedawesome/semver.git
[submodule "components/CTPL/master"]
	path = components/CTPL/master
	url = https://github.com/embeddedawesome/CTPL.git
[submodule "components/boost/master"]
	path = components/boost/master
	url = https://github.com/boostorg/boost.git
[submodule "components/inja/master"]
	path = components/inja/master
	url = https://github.com/embeddedawesome/inja.git
[submodule "components/yaml-cpp/master"]
	path = components/yaml-cpp/master
	url = https://github.com/embeddedawesome/yaml-cpp.git
[submodule "components/cpp-subprocess/master"]
	path = components/cpp-subprocess/master
	url = https://github.com/embeddedawesome/cpp-subprocess.git
[submodule "components/json/master"]
	path = components/json/master
	url = https://github.com/embeddedawesome/json.git
[submodule "components/indicators/master"]
	path = components/indicators/master
	url = https://github.com/p-ranav/indicators.git
[submodule "components/cxxopts/master"]
	path = components/cxxopts/master
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
[submodule "components/spdlog/master"]
	path = components/spdlog/master
	url = https://github.com/gabime/spdlog.git
	branch = master
[submodule "components/botan/master"]
	path = components/botan/master
	url = https://github.com/randombit/botan.git
	branch = master
[submodule "components/taskflow/master"]
	path = components/taskflow/master
	url = https://github.com/taskflow/taskflow.git
	branch = master
